/* Rayyan Styling starts  */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

.App {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scores {
    /* position: relative; */
    max-height: 70vh;
    margin-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
    align-items: center;
    overflow-y: auto;
}

.score-container {
    position: relative;
    /* margin-top: 40px; */
    /* margin-top: 88px; */
    margin: 40px 0;
    min-height: 148px !important;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E1E1E1;
}

.match-title {
    font-family: "Roboto Condensed";
    width: 27.5%;
    /* height: 60px; */
    position: absolute;
    top: -27px;
    left: 36.25%;
    z-index: 1;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: #E73725;
    font-weight: bold;
    font-size: 1.35em;
    color: white;
    font-family: sans-serif;
}

.match-details {
    font-family: "Roboto Condensed";
    font-size: 1.15em;
    font-weight: bold;
    color: #19204E;
    position: absolute;
    top: -1.7em;
    left: 0;
}

.team1 {
    font-family: "Roboto Condensed";
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    width: 37.5%;
}

.team2 {
    font-family: "Roboto Condensed";
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    width: 37.5%;
    text-align: left;
}

.score-box {
    font-weight: bold;
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.vs {
    font-family: "Roboto Condensed";
    font-size: 1.2em;
    font-weight: bold;
}

.score {
    font-family: 'Oswald';
    padding: 0.8em;
    font-size: 2em;
    font-weight: bold;
}

.team-name1 {
    font-weight: bold;
    font-size: 1.4em;
    margin: auto 1em auto 0;
}

.team-name2 {
    font-weight: bold;
    font-size: 1.4em;
    margin: auto 0 auto 1em;
}

.team-logo {
    height: 4.5em;
    width: 4.5em;
    clip-path: circle();

}

.sport-categories {
    font-family: 'Oswald', sans-serif;
    display: flex;

    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 15vh;
    width: 80%;

}

.sport-cat-container {
    /* font-family: "Roboto Condensed"; */
    font-weight: bold;
    font-size: 1.2em;
    display: flex;
    width: 100%;
    justify-content: space-evenly;

}

.sport-cat-container li {
    font-size: 1.5em;
    color: #878787;
    font-weight: bold;
    list-style: none;
}

.sport-cat-container li:hover {
    text-decoration: underline;
    color: #19204E;
}

.sport-cat-container li:focus {
    text-decoration: underline;
    color: darkblue;
}

.sport-cat-container li:active {
    text-decoration: underline;
    color: darkblue;
}

.sort-cat {
    margin: 0 auto 0 auto;
    width: 85%;
}

.sort-cat span {
    font-weight: bold;
    font-size: 1.1em;
}

/* Style The Dropdown Button */
.dropbtn {
    font-family: "Roboto Condensed";
    width: 176px;
    height: 50px;
    background-color: #19204E;
    color: white;
    padding: 16px 16px 46\0px 16px;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
    border-bottom: 1px solid white;
}

.sort-by{
    font-family: "Roboto Condensed";
    font-weight: bold;
    font-size: 1.1em;
}

/* .dropbtn:hover{
    transform: rotate(90deg);
} */

/* .dropbtn img{
    animation: rotate;
} */

/* @keyframes rotate {
    100%{transform: rotate(90deg);}
    
} */

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    font-family: "Roboto Condensed";
    text-align: center;
    width: 176px;
    height: 50px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: #19204E;
    border-bottom: 1px solid white;
}

/* Change color of dropdown links on hover */
/* .dropdown-content a:hover {
}

.dropdown-content:hover {
} */

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #19204E;
}

.add-info{
    font-family: "Roboto Condensed";
    font-size: 1.2em;
    font-weight: bold;
    width: 20%;
    position: absolute;
    bottom: 7%;
    left: 40%;
}

/* Rayyan Styling ends */